<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Math game!</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    <script>
      $(document).ready(function() {
        var name = prompt('What is your name?')

        var socket = io();
        socket.emit('new_user', name);
        socket.on('current_users', function(users){
          console.log('got users', users)
          var str = ""
          for (user in users){
            str += "<div><p>"+users[user]['name']+"</p><img style='margin-left: "+users[user]['dist']+"px' class='player-img' id='"+user+"' src='img/bunny.png'></div>"
          }
          $('.players').html(str);
        })

        $('button').click(function(){
          console.log('clicked')
          socket.emit('advance');
        })
        socket.on('win', function(winner) {
          alert(winner + ' won')
        })

      })
    </script>
  </head>
  <body>
    <div class="container">
      <button>BUTTON</button>
      <div class="players">
        <img class="player1-img" src="">
        <img class="player2-img" src="">
      </div>

      <div class="math-problem">
        <form class="player1-problem"></form>
        <form class="player2-problem"></form>
      </div>
  </body>
</html>
