<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Math game!</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    <script>
      $(document).ready(function() {
        var name = prompt('What is your name?')

        var socket = io();
        socket.emit('new_user', name);
        socket.on('current_users', function(users){
          console.log('got users', users)
          var str = ""
          for (user in users){
            str += "<div><p>"+users[user]['name']+"</p><img style='margin-left: "+users[user]['dist']+"px' class='player-img' id='"+user+"' src='img/bunny.png'></div>"
            str += "<img src='../img/flag.png id='flag'>'"
          }
          $('.players').html(str);
        })

        $('.button').click(function(){
          console.log('clicked')
          socket.emit('advance');
        })
        socket.on('win', function(winner) {
          alert(winner + ' won')
        })

        // MATH
        // https://bost.ocks.org/mike/shuffle/
        function shuffle(array) {
          var m = array.length, t, i;
          // While there remain elements to shuffle…
          while (m) {
            // Pick a remaining element…
            i = Math.floor(Math.random() * m--);
            // And swap it with the current element.
            t = array[m];
            array[m] = array[i];
            array[i] = t;
          }
          return array;
        }


        var num1 = 0;
        var num2 = 0;
        var correct_answer = 0;
        // generate random math problems
        function generateProblems(){
          num1 = Math.floor(Math.random()*10)+1;
          num2 = Math.floor(Math.random()*10)+1;
          correct_answer = num1*num2;

          var key = {1: correct_answer,
                      2: (Math.floor(Math.random()*10)+1)*(Math.floor(Math.random()*10)+1),
                      3: (Math.floor(Math.random()*10)+1)*(Math.floor(Math.random()*10)+1),
                      4: (Math.floor(Math.random()*10)+1)*(Math.floor(Math.random()*10)+1),}
          var arr = [1, 2, 3, 4]
          arr = shuffle(arr);

          var htmlStr = "";
          htmlStr += "<h1>"+num1+" x "+num2+" = </h1>";
          htmlStr += "<div class = 'option'><h3 id='keyA'>"+key[arr[0]]+"</h3>";
          htmlStr += "<button class='answer'>A</button></div>";
          htmlStr += "<div class = 'option'><h3 id='keyS'>"+key[arr[1]]+"</h3>";
          htmlStr += "<button class='answer'>S</button></div>";
          htmlStr += "<div class = 'option'><h3 id='keyD'>"+key[arr[2]]+"</h3>";
          htmlStr += "<button class='answer'>D</button></div>";
          htmlStr += "<div class = 'option'><h3 id='keyF'>"+key[arr[3]]+"</h3>";
          htmlStr += "<button class='answer'>F</button></div>";
          $('.math-problem').html(htmlStr);
        }

        $('.start').click(function() {
          console.log('clickclick')
          generateProblems();
        })

        // when player selects the right answer...
        // A = 65  S = 83  D = 68  F = 70
        // H = 72  J = 74  K = 75  L = 76
        $(document).keydown(function(e) {
          console.log(e.keyCode);
          // if A is pressed, submit form, and form.val() will be 20
          if(e.keyCode == 65) { // A
            var player1_answer = $('.math-problem #keyA').text();
            console.log(player1_answer);
          }
          if(e.keyCode == 83) { // S
            var player1_answer = $('.math-problem #keyS').text();
            console.log(player1_answer);
          }
          if(e.keyCode == 68) { // D
            var player1_answer = $('.math-problem #keyD').text();
            console.log(player1_answer);
          }
          if(e.keyCode == 70) { // F
            var player1_answer = $('.math-problem #keyF').text();
            console.log(player1_answer);

          }

          // if user answer is correct...
          if(player1_answer == correct_answer) {
            //$('.player1-problem').html("Correct!");
            // player 1 advances
            socket.emit('advance')
            generateProblems();
          }
          else {
            socket.emit('wrong')
          }


          $('.player1-problem').submit(function() {
            //console.log($(this).val());
            //console.log($('.player1-problem button').val());
            return false;
          })

        })
      })
    </script>
  </head>
  <body>
    <div class="container">
      <button class="start">START</button>
      <div class="math-problem">
      </div>

      <div class="players">
      </div>


  </body>
</html>
