button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  margin-left: 13px;
}

h2 {
  text-align: center;
}

.container {
  width: 970px;
  height: 700px;
  overflow: visible;
  background-image: url(../img//background/forest1.jpg);
  margin: auto;
  padding: 20px;
}

.modal {
  width: 300px;
  height: 150px;
  border-radius: 10px;
  background-color: silver;
  border: 5px solid pink;
  margin: auto;
  margin-top: 250px;
}

.player-select {
  display: none;
}

.player-img {
  width: 100px;
  display: block;
}

.player1-img {
  position: absolute;
  top: 30px;
  left: 30px;
}
.player2-img {
  position: absolute;
  top: 130px;
  left: 30px;
}

.math-problem {

  width: 100%;
  background-image: url('../img/clouds.png');
  margin-right: auto;
  margin-left: auto;
  /* padding-bottom:10px; */


}
.math-problem h1{
  display:inline-block;
  margin-right:50px;
  margin-left:10px;
  vertical-align: top;
}
.math-problem .option {
  margin-top:10px;
  padding-left: 10px;
  text-align: center;
  display:inline-block;
}

.player1-problem, .player2-problem {
  display: inline-block;
  width: 45%;
  margin: auto;
}
.player1-problem {
  border-right: 2px solid grey;
}

.player1-problem label, .player2-problem label {
  display: inline-block;
  text-align: center;
}

.answer {
  display: block;
  width: 30px;
}
.players div {
  background: url("../img/grassflag.png");
  background-position: center;
  background-size: cover;
  font-size: 1.2em;
}
